/* =========================
// Fonts
============================ */
@import url("https://fonts.googleapis.com/css?family=Poppins%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic%7CMuli%7CRubik%3A300%2C400%2C500%2C700%2C900%2C300italic%2C400italic%2C500italic%2C700italic%2C900italic&subset=latin&ver=1596577778");

/* ==========================================
// Typography
============================================= */
body {
  background: #fff;
  color: #000;
}

body, p {
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  color: #1c1c1c;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

h5 {
  font-size: 14px;
  line-height: 24px;
}

.alert .icon {
  margin-right: 15px;
}

/* ==================================================
// Global styles
================================================== */
html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

.body-inner {
  position: relative;
  overflow: hidden;
}

a:link, a:visited {
  text-decoration: none;
}

a {
  color: #00437d;
  -webkit-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
}

a:hover {
  text-decoration: none;
  color: #000;
}

a.read-more {
  color: #00437d;
  font-weight: 700;
  text-transform: uppercase;
}

a.read-more:hover {
  color: #222;
}

section,
.section-padding {
  padding: 50px 0;
  position: relative;
}

.no-padding {
  padding: 0;
}

.p-top-0 {
  padding-top: 0;
}

.p-bottom-0 {
  padding-bottom: 0;
}

.m-top-0 {
  margin-top: 0 !important;
}

.m-bottom-0 {
  margin-bottom: 0;
}

.media > .pull-left {
  margin-right: 20px;
}

img.banner {
  display: inline-block;
}

.gap-10 {
  clear: both;
  height: 10px;
}

.gap-20 {
  clear: both;
  height: 20px;
}

.gap-30 {
  clear: both;
  height: 30px;
}

.gap-40 {
  clear: both;
  height: 40px;
}

.gap-50 {
  clear: both;
  height: 50px;
}

.gap-60 {
  clear: both;
  height: 60px;
}

.gap-70 {
  clear: both;
  height: 70px;
}

.gap-80 {
  clear: both;
  height: 80px;
}

.mrb-30 {
  margin-bottom: 30px;
}

.mrb-80 {
  margin-bottom: -80px;
}

.mrt-0 {
  margin-top: 0 !important;
}

.pab {
  padding-bottom: 0;
}

.mb-1 {
  margin-bottom: 1px !important;
}

.mt-1 {
  margin-top: 1px;
}

.mr-1 {
  margin-right: 1px;
}

.ml-1 {
  margin-left: 1px;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mt-2 {
  margin-top: 2px;
}

.mr-2 {
  margin-right: 2px;
}

.ml-2 {
  margin-left: 2px;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.mt-3 {
  margin-top: 3px;
}

.mr-3 {
  margin-right: 3px;
}

.ml-3 {
  margin-left: 3px;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mt-4 {
  margin-top: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.mt-6 {
  margin-top: 6px;
}

.mr-6 {
  margin-right: 6px;
}

.ml-6 {
  margin-left: 6px;
}

.mb-7 {
  margin-bottom: 7px !important;
}

.mt-7 {
  margin-top: 7px;
}

.mr-7 {
  margin-right: 7px;
}

.ml-7 {
  margin-left: 7px;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mb-9 {
  margin-bottom: 9px !important;
}

.mt-9 {
  margin-top: 9px;
}

.mr-9 {
  margin-right: 9px;
}

.ml-9 {
  margin-left: 9px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-11 {
  margin-bottom: 11px !important;
}

.mt-11 {
  margin-top: 11px;
}

.mr-11 {
  margin-right: 11px;
}

.ml-11 {
  margin-left: 11px;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mt-12 {
  margin-top: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.mb-13 {
  margin-bottom: 13px !important;
}

.mt-13 {
  margin-top: 13px;
}

.mr-13 {
  margin-right: 13px;
}

.ml-13 {
  margin-left: 13px;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.mt-14 {
  margin-top: 14px;
}

.mr-14 {
  margin-right: 14px;
}

.ml-14 {
  margin-left: 14px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mt-16 {
  margin-top: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mb-17 {
  margin-bottom: 17px !important;
}

.mt-17 {
  margin-top: 17px;
}

.mr-17 {
  margin-right: 17px;
}

.ml-17 {
  margin-left: 17px;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.mt-18 {
  margin-top: 18px;
}

.mr-18 {
  margin-right: 18px;
}

.ml-18 {
  margin-left: 18px;
}

.mb-19 {
  margin-bottom: 19px !important;
}

.mt-19 {
  margin-top: 19px;
}

.mr-19 {
  margin-right: 19px;
}

.ml-19 {
  margin-left: 19px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

@media (max-width: 991px) {
  .res-margin {
    margin-bottom: 15px;
  }
  .mb-1 {
    margin-bottom: 0px;
  }
  .mr-1 {
    margin-right: 0px;
  }
  .ml-1 {
    margin-left: 0px;
  }
  .mb-2 {
    margin-bottom: 0px;
  }
  .mr-2 {
    margin-right: 0px;
  }
  .ml-2 {
    margin-left: 0px;
  }
  .mb-3 {
    margin-bottom: 0px;
  }
  .mr-3 {
    margin-right: 0px;
  }
  .ml-3 {
    margin-left: 0px;
  }
  .mb-4 {
    margin-bottom: 0px;
  }
  .mr-4 {
    margin-right: 0px;
  }
  .ml-4 {
    margin-left: 0px;
  }
  .mb-5 {
    margin-bottom: 0px;
  }
  .mr-5 {
    margin-right: 0px;
  }
  .ml-5 {
    margin-left: 0px;
  }
  .mb-6 {
    margin-bottom: 0px;
  }
  .mr-6 {
    margin-right: 0px;
  }
  .ml-6 {
    margin-left: 0px;
  }
  .mb-7 {
    margin-bottom: 0px;
  }
  .mr-7 {
    margin-right: 0px;
  }
  .ml-7 {
    margin-left: 0px;
  }
  .mb-8 {
    margin-bottom: 0px;
  }
  .mr-8 {
    margin-right: 0px;
  }
  .ml-8 {
    margin-left: 0px;
  }
  .mb-9 {
    margin-bottom: 0px;
  }
  .mr-9 {
    margin-right: 0px;
  }
  .ml-9 {
    margin-left: 0px;
  }
  .mb-10 {
    margin-bottom: 0px;
  }
  .mr-10 {
    margin-right: 0px;
  }
  .ml-10 {
    margin-left: 0px;
  }
  .mb-11 {
    margin-bottom: 0px;
  }
  .mr-11 {
    margin-right: 0px;
  }
  .ml-11 {
    margin-left: 0px;
  }
  .mb-12 {
    margin-bottom: 0px;
  }
  .mr-12 {
    margin-right: 0px;
  }
  .ml-12 {
    margin-left: 0px;
  }
  .mb-13 {
    margin-bottom: 0px;
  }
  .mr-13 {
    margin-right: 0px;
  }
  .ml-13 {
    margin-left: 0px;
  }
  .mb-14 {
    margin-bottom: 0px;
  }
  .mr-14 {
    margin-right: 0px;
  }
  .ml-14 {
    margin-left: 0px;
  }
  .mb-15 {
    margin-bottom: 0px;
  }
  .mr-15 {
    margin-right: 0px;
  }
  .ml-15 {
    margin-left: 0px;
  }
  .mb-16 {
    margin-bottom: 0px;
  }
  .mr-16 {
    margin-right: 0px;
  }
  .ml-16 {
    margin-left: 0px;
  }
  .mb-17 {
    margin-bottom: 0px;
  }
  .mr-17 {
    margin-right: 0px;
  }
  .ml-17 {
    margin-left: 0px;
  }
  .mb-18 {
    margin-bottom: 0px;
  }
  .mr-18 {
    margin-right: 0px;
  }
  .ml-18 {
    margin-left: 0px;
  }
  .mb-19 {
    margin-bottom: 0px;
  }
  .mr-19 {
    margin-right: 0px;
  }
  .ml-19 {
    margin-left: 0px;
  }
  .mb-20 {
    margin-bottom: 0px;
  }
  .mr-20 {
    margin-right: 0px;
  }
  .ml-20 {
    margin-left: 0px;
  }
}

.ts-gutter-10 {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}

.ts-gutter-10 > div {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.ts-gutter-20 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}

.ts-gutter-20 > div {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ts-gutter-30 {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
}

.ts-gutter-30 > div {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.ts-gutter-40 {
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}

.ts-gutter-40 > div {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.ts-gutter-50 {
  margin-top: -25px !important;
  margin-bottom: -25px !important;
}

.ts-gutter-50 > div {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.ts-gutter-60 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}

.ts-gutter-60 > div {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

a:focus {
  outline: 0;
}

img.pull-left {
  margin-right: 20px;
  margin-bottom: 20px;
}

img.pull-right {
  margin-left: 20px;
  margin-bottom: 20px;
}

ol, ul {
  margin-bottom: 20px;
}

.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ts-padding {
  padding: 60px;
}

.solid-bg {
  background: #f9f9f9;
}

.bg-dark {
  background: #222;
}

.solid-row {
  background: #f0f0f0;
}

/* Dropcap */
.dropcap {
  font-size: 44px;
  line-height: 50px;
  float: left;
  margin: 0 12px 0 0;
  position: relative;
  text-transform: uppercase;
}

/* Video responsive */
.embed-responsive {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Input form */
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #dadada;
  padding: 5px 20px;
  height: 40px;
  background: none;
  color: #959595;
  font-size: 12px;
  border-radius: 0;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #00437d;
}

.form-control.input-msg {
  height: 50px;
}

hr {
  background-color: #e7e7e7;
  border: 0;
  height: 1px;
  margin: 40px 0;
}

hr.dashed {
  border-top: 2px dashed #999;
}

hr.dotted {
  border-top: 2px dotted #999;
}

hr.solid {
  border-top: 2px solid #999;
}


hr.hr-text {
  position: relative;
  border: none;
  height: 1px;
  background: #00437d;
  margin : 30px 0 !important;
}

hr.hr-text::before {
  content: attr(data-content);
  display: inline-block;
  background: #fff;
  font-weight: bold;
  font-size: 0.85rem;
  color: #00437d;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}


blockquote {
  position: relative;
  padding: 45px 20px 30px;
  border: 0;
  margin: 50px 0 0px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
  font-style: italic;
}

blockquote p {
  font-size: 18px;
}

blockquote::before {
  position: absolute;
  content: '\f10e';
  font-family: "FontAwesome";
  font-size: 24px;
  padding: 8px 15px;
  top: -10px;
  left: 50%;
  margin-left: -44px;
  color: #000;
}

blockquote.pull-left {
  padding-left: 15px;
  padding-right: 0;
  text-align: left;
  border-left: 5px solid #eee;
  border-right: 0;
}

cite {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
  line-height: 24px;
}

cite::before, cite::after {
  position: absolute;
  top: 0;
  width: 30px;
  height: 1px;
  background: #6c757d;
  content: '';
  bottom: 0;
  margin: 10px 0 13px -40px;
}

cite::after {
  left: auto;
  right: 0;
  margin: 10px -40px 13px 0px;
}

.thumb-fullwidth img {
  width: 100%;
}

/* Button */
.btn {
  /* background: #00437d; */
  color: #fff;
  padding: 10px 30px;
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #00437d;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.btn-primary,
.btn-dark {
  border: 0;
  border-radius: 5px;
  padding: 12px 25px 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

.btn-white.btn-primary {
  background: #fff;
  color: #00437d;
}

.btn-primary {
  background: #00437d;
}

.btn-dark {
  background: #242427;
}

.btn-primary:hover,
.btn-dark:hover,
.btn-white.btn-primary:hover, .btn:foucs {
  background: #272d33;
  color: #fff;
}

.general-btn {
  clear: both;
  margin-top: 50px;
}

/* Ul, Ol */
ul, li {
  list-style: none;
}

.list-round,
.list-arrow,
.list-check {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-round li {
  line-height: 28px;
}

.list-round li:before {
  font-family: "FontAwesome";
  content: "\f138";
  margin-right: 10px;
  color: #00437d;
  font-size: 12px;
}

ul.list-arrow {
  padding: 0;
}

ul.list-arrow li:before {
  font-family: "FontAwesome";
  content: "\f105";
  margin-right: 10px;
  color: #00437d;
  font-size: 16px;
}

ul.list-check li:before {
  font-family: "FontAwesome";
  content: "\f00c";
  margin-right: 10px;
  color: #00437d;
  font-size: 14px;
}

/* Bootstrap */
.nav-tabs > li > a.active,
.nav-tabs > li > a.active:focus,
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a:hover,
.nav-tabs > li > a {
  border: 0;
  background: none;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

/* ================================================
 // Common styles
 ================================================== */
@media (min-width: 992px) {
  .pad-0 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .pad-r {
    padding-right: 2px;
  }
  .pad-r-small {
    padding-right: 1.5px;
  }
  .pad-r-0 {
    padding-right: 0;
  }
  .pad-l {
    padding-left: 2px;
  }
  .pad-l-small {
    padding-left: 1.5px;
  }
  .pad-l-0 {
    padding-left: 0;
  }
}

/*-- Block title --*/
.block-title {
  letter-spacing: .64px;
  color: #00437d;
  line-height: 25px;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.block-title .title-angle-shap {
  display: inline-block;
  padding: 0 0 0 15px;
  position: relative;
}

.block-title .title-angle-shap::after, .block-title .title-angle-shap::before {
  position: absolute;
  top: 0;
  content: '';
  background: #00437d;
  left: 0;
}

.block-title .title-angle-shap::before {
  width: 3px;
  height: 12px;
}

.block-title .title-angle-shap::after {
  width: 12px;
  height: 3px;
}

.text-light .block-title .title-angle-shap {
  color: #fff;
}

.text-light .block-title .title-angle-shap::after, .text-light .block-title .title-angle-shap::before {
  background: #fff;
}

.block-title-dark {
  color: #000;
}

.block-title-dark .title-angle-shap::after, .block-title-dark .title-angle-shap::before {
  background: #000;
}

.block-title-light {
  color: #fff;
}

.block-title-light .title-angle-shap::after, .block-title-light .title-angle-shap::before {
  background: #fff;
}

.block-title-tech {
  color: #007bff;
}

.block-title-tech .title-angle-shap::after, .block-title-tech .title-angle-shap::before {
  background: #007bff;
}

/* Post title */
.post-title {
  font-size: 14px;
  line-height: 19px;
  margin: 12px 0 10px;
  font-weight: 600;
}

.post-title a {
  color: #1c1c1c;
}

.post-title a:hover {
  color: #00437d;
}

.text-light .post-title a {
  color: #fff;
}

.text-light .post-title a:hover {
  color: #00437d;
}

.post-title.title-xl {
  font-size: 21px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.post-title.title-lg {
  font-size: 30px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 3px;
  font-weight: 600;
}

.post-title.title-md {
  font-size: 19px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

.post-title.title-sm {
  font-size: 13px;
  line-height: 17px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.grid-category .post-cat:not(:first-child) {
  margin-left: 3px;
}

.post-cat, .post-cat-box {
  position: relative;
  font-size: 10px;
  padding: 0 10px;
  background: #1c1c1c;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  border-radius-top-left: 5px;
}

.post-cat {
  position: relative;
}

.post-cat-box {
  position: absolute;
  top: 0;
  z-index: 2;
}

.post-cat a {
  color: #fff;
}

.post-cat:hover {
  color: #fff;
}

.post-meta ul {
  padding: 0;
  margin-bottom: 0;
}

.post-meta li {
  font-size: 13px;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  margin-right: 24px;
}

.post-meta li a {
  color: #00437d;
  font-weight: 500;
}
.post-overaly-style .post-meta li a {color: #fff;}

.post-meta li a .icon, .post-meta li a .fa, .post-meta li .icon, .post-meta li .fa {
  margin-right: 5px;
}

.post-meta li a.view .icon {
  color: #00437d;
}

.post-meta .post-author a {
  color: #999999;
  font-weight: 500;
}

.post-meta .post-author a:hover {
  color: #00437d;
}

.post-meta .post-author img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.post-meta span {
  font-size: 13px;
  color: #a3a3a3;
  margin-right: 8px;
  padding-right: 10px;
  line-height: 13px;
  display: inline-block;
}

.post-meta span.post-date {
  border-right: 0;
}

span.post-comment {
  border-right: 0;
  line-height: 24px;
  margin-right: 0;
  padding-right: 0;
}

span.post-comment span {
  border-right: 0;
  line-height: 100%;
}

span.post-comment span i {
  margin-right: 5px;
}

/* Category Color */

.soloraya {
  background: #04659b;
}

.soloraya-color {
  background: transparent;
  color: #04659b;
}

.soloraya-color:hover {
  color: #04659b;
}


.news {
  background: #bc8a61;
}

.news-color {
  background: transparent;
  color: #bc8a61;
}

.news-color:hover {
  color: #bc8a61;
}

.teknologi {
  background: #da1793;
}

.teknologi-color {
  background: transparent;
  color: #da1793;
}

.teknologi-color:hover {
  color: #da1793;
}

.lifestyle {
  background: #ea8f00;
}

.lifestyle-color {
  background: transparent;
  color: #ea8f00;
}

.lifestyle-color:hover {
  color: #ea8f00;
}

.entertainment {
  background: #6741dc;
}

.entertainment-color {
  background: transparent;
  color: #6741dc;
}

.entertainment-color:hover {
  color: #6741dc;
}

.bola {
  background: #4ca80b;
}

.bola-color {
  background: transparent;
  color: #4ca80b;
}

.bola-color:hover {
  color: #4ca80b;
}

.sport {
  background: #007bff;
}

.sport-color {
  background: transparent;
  color: #007bff;
}

.sport-color:hover {
  color: #007bff;
}

.teknologi {
  background: #f3670a;
}

.teknologi-color {
  background: transparent;
  color: #f3670a;
}

.teknologi-color:hover {
  color: #f3670a;
}

.video-icon {
  text-align: center;
  color: #fff;
  font-size: 20px;
  z-index: 1;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 100%;
  border: 5px solid #fff;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 8px 8px;
}

.image-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.owl-carousel .owl-dots {
  position: absolute;
  left: 50px;
  top: 50%;
  padding: 0;
  text-align: left;
  width: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.owl-carousel .owl-dots .owl-dot span {
  border-radius: 50%;
  background: #d3d3d3;
  display: inline-block;
  text-align: center;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background: #00437d;
  border-color: #00437d;
  height: 20px;
  border-radius: 10px;
}

.owl-carousel.dot-style2 .owl-dots {
  padding: 0;
  position: absolute;
  right: 0;
  top: -30px;
  display: inline-block;
  text-align: right;
  width: 100%;
  left: auto;
}

.owl-carousel.dot-style2 .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  margin: 5px 5px;
}

.owl-carousel.dot-style2 .owl-dots .owl-dot.active span {
  width: 20px;
}

.owl-carousel .owl-nav i {
  font-size: 20px;
  color: #fff;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  line-height: 54px;
  -webkit-transition: all ease 500ms;
  -o-transition: all ease 500ms;
  transition: all ease 500ms;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  background: #00437d;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
}

.owl-carousel .owl-nav .owl-prev {
  background: #00437d;
  left: -25px;
  right: auto;
}

.owl-carousel .owl-nav .owl-next {
  right: -25px;
}

@media (min-width: 1200px) {
  .owl-carousel.h2-feature-slider .owl-dots {
    top: 35%;
  }
}

.grid-cat {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.load-more-btn {
  position: relative;
}

.load-more-btn::after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #eaeaea;
  height: 1px;
  content: '';
  margin: auto;
}

.load-more-btn .btn {
  padding: 10px 55px;
  background: #fff;
  border: 1px solid #eaeaea;
  cursor: pointer;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
  color: #000;
}

.load-more-btn .btn:hover {
  color: #00437d;
}

.backto {
  position: fixed;
  right: 55px;
  bottom: 15px;
  z-index: 10;
  background: #00437d;
  border-radius: 50%;
  color: #979797;
  cursor: pointer;
  height: 44px;
  text-align: center;
  width: 44px;
  display: block;
  padding: 12px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin-left: auto;
}

.backto a {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.backto .icon {
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.backto:hover {
  background: #c93b00;
}

.breadcrumb {
  background: transparent;
  padding: 25px 0 25px;
  margin-bottom: 0;
}

.breadcrumb li {
  padding-right: 10px;
  color: #777;
  font-size: 13px;
}

.breadcrumb li a {
  padding: 0 9px;
  color: inherit;
}

.breadcrumb li a:hover {
  color: #00437d;
}

.breadcrumb li:last-child i {
  padding-right: 10px;
}

.ts-pagination {
  padding: 0;
  margin-top: 20px;
}

.ts-pagination li {
  display: inline-block;
}

.ts-pagination li a {
  color: inherit;
  display: block;
  padding: 7px 0;
  width: 40px;
  height: 40px;
  font-size: 14px;
  color: #000;
  text-align: center;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin-right: 5px;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.ts-pagination li a:hover, .ts-pagination li a.active {
  color: #fff;
  background: #00437d;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(252, 74, 0, 0.25);
  box-shadow: 0px 5px 15px 0px rgba(252, 74, 0, 0.25);
}

/* ===================
// 404 page
======================*/
.error-page .error-code h2 {
  display: block;
  font-size: 200px;
  line-height: 200px;
  color: #303030;
  margin-bottom: 20px;
}

/* Header */
/* Trending Bar
================================================== */
.trending-bar {
  padding: 7px 0 5px;
  background: #00437d;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius : 7px;

}

.trending-title {
  background: transparent;
  color: #fff;
  margin-right: 5px;
  border-right: 1px solid #dedbdb;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 3px 15px 0 0;
  padding-right: 10px;
  font-weight: 700;
  float: left;
}

.trending-title .tsicon {
  color: #fff;
}

.owl-carousel.owl-theme.trending-slide .owl-nav {
  display: none;
}

.trending-slide .post-title.title-small {
  font-weight: 400;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Trending light */
.trending-light {
  color: #fff;
}

.trending-light .trending-slide .post-title a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.trending-light .owl-carousel.owl-theme.trending-slide .owl-nav > div:hover {
  background: #333;
  color: #fff;
}

/* Top Bar
================================================== */
.top-bar {
  padding: 8px 0;
  border-bottom: 1px solid #dedede;
  color: #a3a3a3;
  font-size: 13px;
}

/* Date */
.ts-date {
  display: inline-block;
  padding-right: 10px;
  line-height: 12px;
  color: #fff;
  font-size: 13px;
  border-right: none;
  padding-right: 0;
}

.ts-date i {
  margin-right: 5px;
}

/* Top nav */
.top-nav {
  display: inline-block;
}

.top-nav li {
  display: inline-block;
  line-height: 12px;
  padding-left: 12px;
}

.top-nav li a {
  background: none;
  color: #a3a3a3;
  padding: 0;
  line-height: 100%;
}

.top-nav li a:hover {
  color: #00437d;
}

/* Top social */
.top-social {
  display: inline-block;
  margin-right: -5px;
  background: rgba(255, 255, 255, 0.05);
}

.top-social ul {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.top-social ul li {
  display: inline-block;
  padding: 0;
}

.top-social ul li a {
  color: #565656;
  font-size: 14px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  padding: 0 10px;
  line-height: 50px;
}

.top-social ul li a:hover {
  color: #00437d;
}

.nav-search {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  width: 30px;
  height: auto;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  color: #fff;
}

/* Top bar border */
.top-bar-border {
  padding: 8px 20px 8px;
  border-bottom: 1px solid #ddd;
}

.top-bar-border ul.top-info {
  color: #7c7c7c;
  font-weight: 400;
}

.top-bar-border .top-social li a {
  color: #7c7c7c;
}

.top-bar-border ul.top-info li i {
  color: #00437d;
}

/* =================================================
 // Header Default
================================================== */
.header {
  padding: 5px 0;
}

.header-top-social {
  margin: 0;
}

.header-top-social li a {
  color: #000;
  font-size: 14px;
  margin-right: 20px;
}

.header-search .form-group {
  position: relative;
}

.header-search .form-group .input-search {
  font-size: 13px;
  color: #333333;
  border: 1px solid #dddddd;
  border-width: 0 0 1px 0;
  width: 100%;
}

.header-search .form-group .input-search::-webkit-input-placeholder {
  color: #ddd;
  opacity: 1;
}

.header-search .form-group .input-search:-ms-input-placeholder {
  color: #ddd;
  opacity: 1;
}

.header-search .form-group .input-search::-ms-input-placeholder {
  color: #ddd;
  opacity: 1;
}

.header-search .form-group .input-search::placeholder {
  color: #ddd;
  opacity: 1;
}

.header-search .form-group .search-btn {
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #999999;
}

.header-search .form-group .search-btn:focus {
  outline-style: none;
}

@media (min-width: 992px) {
  .is-ts-sticky.sticky {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    z-index: 9;
    width: 980px;
    left: 0;
    right: 0;
    margin: 0 auto;
    /*
    border-bottom-left-radius: 7px;
    border-bottom-right-radius : 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;*/
    border-radius: 0;
  }
  .is-ts-sticky.sticky.main-nav ul.navbar-nav li.sticky {
    width: 120px; display: inline-block;}
  .is-ts-sticky.sticky.main-nav ul.navbar-nav li.home {
    display: none;}
  .is-ts-sticky.sticky.main-nav ul.navbar-nav li.sticky img {
    width: 110px;margin-top: 16px; padding-left: 5px;}
  .is-ts-sticky.sticky.main-nav ul.navbar-nav > li > a { font-size: 11px; padding: 0 5px !important; }

  .is-ts-sticky.sticky.fade_down_effect {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  }
}

/*-- Logo --*/
.logo {
  padding: 15px 0;
  text-align: center;
}
.logo img {width: 350px;}
.header-nav {font-size: 12px; color: #565656;}
.header-nav a {color: #666; text-transform: uppercase;}
/* header right */
.header-right {
  float: right;
}

/* Logo center */
.header.text-center {
  padding: 10px 0;
}

/*-- Search start --*/
ul.top-info-box > li.nav-search {
  cursor: pointer;
  padding-left: 30px;
  margin-left: 30px;
}

ul.top-info-box > li.nav-search:before {
  position: absolute;
  content: '';
  background: #ddd;
  left: 0;
  width: 1px;
  height: 40px;
  top: 50%;
  margin-top: -10px;
}

ul.top-info-box > li.nav-search i {
  font-size: 20px;
  top: 10px;
  position: relative;
  cursor: pointer;
  color: #999;
}

/* Main navigation */
.site-nav-inner {
  position: relative;
}

.main-nav {
  background-color: #fff;
  height: 50px;
  border-radius: 7px;
}

.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 50px;
}

.navbar-toggler {
  color: #fff;
  padding: 8px 15px;
  background: #e74907;
  position: absolute;
  top: -55px;
  z-index: 9;
}

.navbar-toggler-icon {
  width: 25px;
}

.navbar-toggle .i-bar {
  background: #fff;
}

.navbar-collapse {
  padding-left: 0;
}

ul.navbar-nav > li {
  float: left;
  padding: 0;
  position: relative;
}

ul.navbar-nav > li.sticky {
  display: none;
}

ul.navbar-nav > li > a {
  padding: 0 5px;
  line-height: 50px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  -webkit-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  padding: 10px 22px;
}

ul.navbar-nav > li > a i {
  font-weight: 700;
  padding-left: 5px;
}

ul.navbar-nav > li > a:hover, ul.navbar-nav > li > a:focus {
  background: none;
}

ul.navbar-nav > li:hover a::before, ul.navbar-nav > li.active a::before {
  border-color: #00437d;
  opacity: 1;
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: transparent;
  border: 0;
}

/* Dropdown */
ul.navbar-nav > li.mega-dropdown {
  position: static;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -2px;
  border-radius: 0;
}

.dropdown-submenu > a:after {
  display: block;
  content: "\f105";
  font-family: FontAwesome;
  float: right;
  margin-top: 3px;
  margin-right: -5px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  text-align: left;
  background: #fff;
  z-index: 100;
  min-width: 200px;
  border-radius: 0;
  border: 0;
  border: 0;
  -webkit-box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.15);
  margin-top: 0;
  padding: 0;
}

.navbar-nav > li > .dropdown-menu {
  border-top: 1px solid #dedede;
}

.navbar-nav > li > .dropdown-menu.mega-menu-content {
  border-top: 0;
}

.navbar-nav > li > .mega {
  position: static !important;
}

.dropdown-menu-large {
  min-width: 400px;
}

.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-menu-large > li > ul > li > a {
  padding-left: 0;
}

.dropdown-menu-large > li > ul > li.active > a {
  color: #00437d;
}

.navbar-nav > li > .dropdown-menu > a {
  background: none;
}

.dropdown-menu li a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  padding: 7px 25px;
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  background: #fff;
  text-transform: uppercase;
}

.dropdown-menu li:last-child > a {
  border-bottom: 0;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > .dropdown-menu > .active > a {
  background: none;
  color: #00437d;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: #00437d;
  color: #fff;
}

@media (min-width: 767px) {
  ul.nav li.dropdown .dropdown-menu li.dropdown-submenu .dropdown-menu {
    left: 100%;
    top: 0;
    display: none;
  }
  ul.nav li.dropdown .dropdown-menu li.dropdown-submenu:hover .dropdown-menu {
    display: block;
  }
}

.mega-menu-content {
  width: 980px;
  padding: 0;
}

.mega-menu-content-inner {
  padding: 20px 10px;
}

.mega-menu-content .row {
  margin: 0;
}

/*-- Dark bg style --*/
.main-nav.dark-bg > .container > .row {
  border: 0;
  background: #272727;
  margin-left: 0;
  margin-right: 0;
}

.dark-bg .navbar-toggler {
  margin-left: 6px;
}

.main-nav.dark-bg ul.navbar-nav > li > a {
  color: #fff;
}

.main-nav.dark-bg ul.navbar-nav > li > a:before {
  border: 0;
}

.main-nav.dark-bg ul.navbar-nav > li.active,
.main-nav.dark-bg ul.navbar-nav > li:hover {
  background: #00437d;
}

.main-nav.dark-bg .nav-search i {
  color: #fff;
}

.main-nav {
  position: relative;
  padding: 0 15px;
}

/* ===================
// Hheader Search
======================= */
.main-nav > .container,
.search-area {
  position: relative;
}

.search-area {
  min-height: 50px;
  padding-right: 0;
}

.nav-search {
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: 0;
  right: 0;
}

.nav-search a {
  color: #565656;
  display: block;
}

.modal-searchPanel .ts-search-group {
  position: relative;
}

.modal-searchPanel .ts-search-group input:not([type="submit"]) {
  height: 70px;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #fff;
  color: #fff;
  padding: 0 30px;
}

.modal-searchPanel .ts-search-group .search-button {
  background-color: transparent;
  border: 0px;
  padding: 0;
  color: #fff;
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  width: 70px;
  border-radius: 0 50px 50px 0;
}

/* magnific pop up modal */
.mfp-bg.xs-promo-popup {
  background-color: rgba(0, 0, 0, 0.87);
  padding-bottom: 100%;
  border-radius: 100%;
  overflow: hidden;
  -webkit-animation: menu-animation .8s ease-out forwards;
  animation: menu-animation .8s ease-out forwards;
}

/* animation keyframes list */
@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    -o-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px);
  }
  61% {
    opacity: 1;
    -webkit-transform: scale(0.04) translateY(0px);
    transform: scale(0.04) translateY(0px);
  }
  99.9% {
    opacity: 1;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(2) translateY(0px);
    transform: scale(2) translateY(0px);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    -o-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px);
  }
  61% {
    opacity: 1;
    -webkit-transform: scale(0.04) translateY(0px);
    transform: scale(0.04) translateY(0px);
  }
  99.9% {
    opacity: 1;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(2) translateY(0px);
    transform: scale(2) translateY(0px);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

/* Styles for dialog window */
.xs-promo-popup .modal-content {
  background-color: transparent;
  padding: 0px;
  border: 0px;
}

.xs-promo-popup .mfp-close {
  color: #fff;
  opacity: 0;
  -webkit-transition: all 1s ease .8s;
  -o-transition: all 1s ease .8s;
  transition: all 1s ease .8s;
  -webkit-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  transform: translateY(-500px);
}

.xs-promo-popup.mfp-ready .mfp-close {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.ts-search-form .form-control {
  height: 60px;
  border-radius: 36px;
  font-size: 18px;
}

.ts-search-form.modal-searchPanel .xs-search-panel {
  margin: 0;
}

/* at start */
.xs-promo-popup.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 1s ease .8s;
  -o-transition: all 1s ease .8s;
  transition: all 1s ease .8s;
  -webkit-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  transform: translateY(-500px);
}

/* animate in */
.xs-promo-popup.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* ===================
// Menu tab
======================= */
.menu-tab .nav.nav-tabs {
  border-right: 1px solid #dedede;
  padding: 20px 0;
  padding-right: 0;
  min-height: 250px;
  margin-top: 0;
}

.menu-tab .nav.nav-tabs > li > a {
  border: 1px solid transparent;
  border-radius: 0;
  font-weight: 400;
  padding: 14px 16px 14px 30px;
  background: #fff;
  text-transform: initial;
  font-size: 14px;
}

.menu-tab .nav.nav-tabs > li > a.active {
  background: #dedede;
  margin-right: -1px;
  border: 1px solid #dedede;
  border-right: 0;
  color: #00437d;
  cursor: pointer;
}

.menu-tab .tab-content > .tab-pane {
  padding: 25px 0;
  min-height: 250px;
}

.menu-tab .tab-content > .tab-pane .col-md-3 {
  padding-right: 10px;
  padding-left: 10px;
}

/* Header with Menu
================================================== */
.header.header-menu {
  padding: 0;
}

.header.header-menu .logo {
  padding: 12px 0;
}

.header.header-menu > .container > .row {
  border-bottom: 1px solid #dedede;
  margin-left: 0;
  margin-right: 0;
}

.header.header-menu ul.navbar-nav > li > a {
  line-height: 50px;
}

.header.header-menu ul.navbar-nav > li.mega-dropdown,
.site-nav-inner {
  position: static;
  width: 100%;
}

.header.header-menu .mega-menu-content {
  min-width: 980px;
  left: -43%;
}

.nav-social-wrap {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}

.navbar {
  position: absolute;
  top: 50px;
  width: 100%;
  background: #f8f8f8;
  z-index: 9;
  padding: 0;
}

@media (min-width: 992px) {
  .navbar {
    position: static;
    top: 50px;
    width: 100%;
    background: transparent;
  }
  ul.navbar-nav > li > a {
    color: #111;
    padding: 0 22px;
  }
  .header.header-menu ul.navbar-nav > li.mega-dropdown,
  .site-nav-inner {
    position: static;
    width: 100%;
  }
}

/* Master css */
.post-block-style {
  position: relative;
  overflow: hidden;
}

.post-block-style .post-thumb {
  border-radius: 5px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.post-list_feed {
  height: 167px;
}

.post-list_slides {
  height: 148px;
}

.post-block-style .post-thumb img {
  display: block;
  width: 100%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.post-block-style:hover .post-thumb img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.post-block-style p {font-size: 13px; line-height: 19px;margin-bottom: 0;}

.overlay-post-content .post-content {
  padding: 20px 20px 18px;
  position: absolute;
  bottom: 0;
  z-index: 9;
}

.overlay-post-content h2 {font-size: 13px; line-height: 15px;}
/* Feature Post */
.featured-slider .item {
  min-height: 640px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.featured-slider .item .featured-post .post-content {
  padding: 40px 40px 35px 45px;
}

.featured-slider .item .featured-post .post-title a {
  color: #fff;
}

.post-overaly-style {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  min-height: 350px;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
}

.post-overaly-style::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.post-overaly-style:hover {
  background-position: 40%;
}

.post-overaly-style.post-sm {
  min-height: 225px;
}

.post-overaly-style.post-md {
  min-height: 400px;
}

.post-overaly-style.post-extra-md {
  min-height: 430px;
  margin-bottom: -5px;
}

.post-overaly-style.post-lg {
  min-height: 550px;
}

.post-overaly-style:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.post-overaly-style .post-thumb {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.post-overaly-style .post-thumb img {
  display: block;
  width: 100%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.post-overaly-style .post-content {
  position: absolute;
  bottom: 0;
  padding: 15px;
  z-index: 1;
}

.post-overaly-style .post-content .post-title a {
  color: #fff;
}

.post-overaly-style .post-content .post-title a:hover {
  color: #fff;
}

.post-overaly-style:hover .post-thumb img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.post-overaly-style.overlay-primary::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 74, 0, 0.89)), to(rgba(252, 74, 0, 0.89)));
  background: -webkit-linear-gradient(top, rgba(252, 74, 0, 0.89) 0%, rgba(252, 74, 0, 0.89) 100%);
  background: -o-linear-gradient(top, rgba(252, 74, 0, 0.89) 0%, rgba(252, 74, 0, 0.89) 100%);
  background: linear-gradient(180deg, rgba(252, 74, 0, 0.89) 0%, rgba(252, 74, 0, 0.89) 100%);
  opacity: .9;
}

.post-overaly-style.overlay-primary:hover::after {
  opacity: .7;
}

.trending-slider .post-md {
  min-height: 310px;
  margin-bottom: 0;
}

.featured-tab {
  position: relative;
}

.featured-tab .nav-tabs {
  border: 0;
  position: absolute;
  top: -5px;
  right: 0;
}

.featured-tab .nav-tabs .nav-item {
  margin-bottom: -1px;
}

.featured-tab .nav-tabs .nav-link {
  padding: 0 7px;
  border: none;
  position: relative;
  font-size: 17px;
  display: inline-block;
  color: #495057;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.featured-tab .nav-tabs .nav-link.active {
  background: transparent;
}

.featured-tab .nav-tabs .nav-link.active .tab-head > span.tab-text-title {
  color: #00437d;
  background: transparent;
  border: none;
}

.featured-tab .nav-tabs .nav-link.active:before {
  position: absolute;
  content: "";
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #00437d;
  top: -5px;
  bottom: 0;
  margin: auto;
}

.featured-tab .nav-tabs .nav-link .tab-head > span.tab-text-title {
  font-size: 17px;
}

.featured-tab .tab-content {
  border-top: 0;
  padding: 0;
  overflow: hidden;
}

.featured-tab .tab-content > .active {
  display: block;
}

.list-post-block .list-post {
  padding: 0;
}

.list-post-block .list-post .post-block-style .post-thumb {
  height: 85px;
  margin-bottom: 30px;
  margin-right: 15px;
}

.list-post-block .list-post .post-block-style .post-thumb img {
  width: 100%;
}

.list-post-block .list-post .post-block-style .post-thumb.thumb-md {
  height: 96px;
  overflow: hidden;
}

.list-post-block .list-post .post-block-style .post-thumb.thumb-md img {
  max-width: 100%;
  height: 100%;
}

.list-post-block .list-post .post-block-style .grid-category .post-cat {
  text-transform: uppercase;
  padding-left: 0;
}

.list-post-block .list-post .post-block-style .post-content .post-title {
  margin: 0;
  line-height: 17px;
}

.list-post-block .list-post li:last-child .post-block-style .post-thumb {
  margin-bottom: 0;
}

.list-post-block .list-post li:last-child .post-block-style .post-thumb.thumb-md {
  height: 100px;
}

.block.style1 {
  background: linear-gradient(to right, #242644, #1a0900);
  color: #fff;
  padding: 40px;
  border-radius: 10px;
}

.block.style1 .post-block-style .post-title:not(.title-md) {
  line-height: 1.1;
}

.block.style2 {
  background: linear-gradient(to right, #242644, #0C153B);
  color: #fff;
  padding: 40px;
  border-radius: 10px;
}

.block.style2 .post-block-style .post-title:not(.title-md) {
  line-height: 1.1;
}

.block.style3 {
  background: linear-gradient(to right, #dc3545, #00437d);
  color: #fff;
  padding: 40px;
  border-radius: 10px;
}

.block.style3 .post-block-style .post-title:not(.title-md) {
  line-height: 1.1;
}

.block.style1.text-light .post-title a:hover,
.block.style2.text-light .post-title a:hover,
.block.style3.text-light .post-title a:hover {color: yellow;}

.block-slider {
  background: #f7f7f7;
  padding-bottom: 80px;
}

.block-slider .owl-carousel .owl-dots {
  top: auto;
  bottom: -47px;
  text-align: center;
  height: 20px;
}

.ts-category-list {
  padding: 0;
}

.ts-category-list li {
  list-style-type: none;
  margin-bottom: 5px;
  position: relative;
}

.ts-category-list li a {
  padding: 20px;
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  min-height: 100px;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.ts-category-list li a::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.ts-category-list li a span {
  position: relative;
  white-space: nowrap;
}

.ts-category-list li a span.bar {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 65px 0 25px;
}

.ts-category-list li a:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ts-category-list-sm li a {
  min-height: 91px;
}

.trending-slider.full-width .post-overaly-style {
  border-radius: 0;
}

.trending-slider.full-width .post-overaly-style::after {
  border-radius: 0;
}

.post-tab .nav-tabs .nav-item:not(:first-child) {
  margin-left: 20px;
}

.post-tab .nav-tabs .nav-item .nav-link {
  text-transform: uppercase;
  color: #d3d3d3;
}

.post-tab .nav-tabs .nav-item .nav-link::after, .post-tab .nav-tabs .nav-item .nav-link::before {
  position: absolute;
  top: 0;
  content: '';
  background: #00437d;
  left: 0;
  opacity: 1;
}

.post-tab .nav-tabs .nav-item .nav-link::before {
  opacity: 1;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 12px;
  background: #d3d3d3;
}

.post-tab .nav-tabs .nav-item .nav-link.active::before {
  background: #00437d;
  border-radius: 0;
  height: 12px;
  top: -6px;
}

.post-tab .nav-tabs .nav-item .nav-link.active::after {
  background: #00437d;
  border-radius: 0;
  height: 3px;
  width: 12px;
}

.post-tab .list-post .post-block-style:hover .post-thumb img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.post-tab .list-post .post-block-style .post-thumb {
  position: relative;
  border-radius: 50%;
  overflow: initial;
  width: 85px;
  height: 85px;
}

.post-tab .list-post .post-block-style .post-thumb img {
  border-radius: 5%;
  height: 100%;
}

.post-tab .list-post .post-block-style .post-thumb .tab-post-count {
  position: absolute;
  top: 0;
  left: 12px;
  background: #00437d;
  display: block;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  border: 2px solid #fff;
}

/*==================================================
//  commment list
 ================================================== */
.ts-comments-row {
  position: relative;
  margin-bottom: 50px;
}

.ts-comments-row:last-child {
  margin-bottom: 0;
}

.ts-author {
  color: #777777;
}

.ts-author a {
  color: #777777;
}

.ts-author a:hover {
  color: #00437d;
}

.ts-author-comments {
  position: relative;
}

.ts-author-comments::after {
  position: absolute;
  content: '';
  left: 36px;
  bottom: 20%;
  width: 1px;
  z-index: -1;
  height: 60%;
  background: #eaeaea;
}

.ts-author-thumb {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.ts-author-thumb img {
  width: 100%;
}

.ts-author-media {
  background: #fff;
  padding: 20px 0;
}

.ts-author-content {
  padding: 30px;
  border: 1px solid #eaeaea;
  position: relative;
}

.ts-author-content::after {
  position: absolute;
  content: '';
  left: -9px;
  top: 50%;
  width: 16px;
  height: 16px;
  background: #fff;
  -webkit-transform: translateY(-100%) rotate(45deg);
  -ms-transform: translateY(-100%) rotate(45deg);
  transform: translateY(-100%) rotate(45deg);
  border: 1px solid #ddd;
  border-width: 0 0px 1px 1px;
}

.ts-author-content::before {
  position: absolute;
  content: "\e943";
  left: 20px;
  top: -10px;
  font-size: 20px;
  font-family: 'iconfont';
  background: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
}

.ts-author-content .comment {
  margin-bottom: 12px;
}

.ts-author-content .comment a {
  font-weight: 500;
  font-style: italic;
  color: #222222;
  line-height: 20px;
}

.newsletter-area {
  background: -webkit-linear-gradient(70deg, #00437d 0%, #72beff 100%);
  background: -o-linear-gradient(70deg, #00437d 0%, #72beff 100%);
  background: linear-gradient(20deg, #00437d 0%, #72beff 100%);
  padding: 40px 0;
  width: 980px;
  margin: 0 auto;
}

.newsletter-area .email-form-group {
  position: relative;
}

.newsletter-area .email-form-group .news-icon {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: #fff;
  font-size: 17px;
}

.newsletter-area .newsletter-email {
  background: transparent;
  height: 48px;
  color: #fff;
  border: none;
  width: 100%;
  padding: 0 40px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.newsletter-area .newsletter-email:focus {
  outline-style: none;
}

.newsletter-area .newsletter-email::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.newsletter-area .newsletter-email:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.newsletter-area .newsletter-email::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.newsletter-area .newsletter-email::placeholder {
  color: #fff;
  opacity: 1;
}

.newsletter-area .newsletter-submit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 40px;
  border-radius: 5px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background: #222;
  border: none;
  color: #fff;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.newsletter-area .newsletter-submit:focus {
  outline-style: none;
}

.newsletter-area .newsletter-submit:hover {
  background: #00437d;
}

.ts-footer {
  background: #fff;
  border-top: 3px solid #ccc;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 980px;
  margin: 0 auto;
}

.ts-footer .footer-logo {margin-bottom: 15px;}
.ts-footer .footer-logo img {width: 200px;}
.ts-footer ul {
  padding: 0;
}

.ts-footer li a {padding: 0;border-bottom: none;}

.ts-footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.ts-footer-nav-item {
  display: inline-block !important;
  width: 38%;
  color: #565656;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ts-footer-nav-item-link {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  color: #565656;
  text-transform: uppercase;
  text-align: left;
}
.ts-footer-nav-item:nth-child(3n+1) {width: 20%;}
.ts-footer-nav-item:last-child {width: 38%;}
.ts-footer .widget-title {
  font-size: 13px;
  font-weight: 700;
  color: #565656;
  line-height: 22px;
  padding-left: 0;
  position: relative;
  text-transform: uppercase;
}

.ts-footer .widget-title::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  bottom: 0;
  margin: auto;
  content: '';
  background: #ccc;
}

.ts-footer .widget-title span {
  background: #fff;
  padding-right: 10px;
  position: relative;
}

.ts-footer .footer-widtet {
  margin-bottom: 20px;
}

.ts-copyright {
  border-top: 1px solid #ccc;
  padding: 20px 0;
  width: 980px;
  margin: 0 auto;
}

.ts-copyright .copyright p {
  font-size: 12px;
  color: #565656;
}

.sidebar-widget:not(:last-child) {
  margin-bottom: 50px;
}

.sidebar-widget .nav-tabs {
  left: 0;
  right: auto;
}

.single-post .post-header-area { }
.single-post .post-header-area h1.post-title {
  margin-top: 0;
}

.single-post .post-header-area p {font-size: 12px; line-height: 17px;color: #555;margin-bottom: 5px;}

.single-post .post-meta {
  padding: 15px 0;
  margin-bottom: 10px;
  position: relative;
}

.single-post .post-meta .post-cat {
  color: #fff;
}

.single-post .post-meta .post-author img {
  margin-right: 10px;
}

.single-post .post-meta li {
  color: #777;
  /* margin-bottom: 10px; */
}

.single-post .post-meta li a:hover {
  color: #00437d;
  text-decoration: underline;
}

.single-post .post-meta li.social-share {
  position: absolute;
  right: 0;
  top: 10px;
}

.single-post .post-meta li.social-share .shareicon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #00437d;
  color: #fff;
  display: block;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  padding: 10px 0;
  font-size: 12px;
}

.single-post .post-meta li.social-share .social-list {
  position: absolute;
  right: 35px;
  top: -8px;
  padding: 0;
  z-index: 1;
  background: #f7f7f7;
  min-width: 160px;
  padding: 10px 7px;
  display: none;
  text-align: center;
}

.single-post .post-meta li.social-share .social-list li {
  margin-bottom: 0;
}

.single-post .post-meta li.social-share:hover .social-list {
  display: block;
}

.single-post .post-content-area ul li, .single-post .post-content-area ol li {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 29px;
  padding-left: 10px;
}
.single-post .post-content-area ul li {list-style: outside;}
.single-post .post-content-area ol li {list-style-type: decimal;}

.single-post .post-content-area p iframe {max-width:100%; height:350px;max-height:350px;}

.single-post .post-content-area p {font-size: 17px; line-height: 32px;}
.single-post img.float-left {
  margin-right: 30px;
  margin-bottom: 30px;
}
.single-post .post-content-area h2, .single-post .post-content-area h3, .single-post .post-content-area h4, .single-post .post-content-area h5, .single-post .post-content-area h6 {font-size: 18px;margin:30px 0 10px 0;}
.single-post .gallery-img {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px;
  clear: both;
}

.single-post .gallery-img img {
  float: left;
  width: 20%;
}

.single-post .post-content-area .post-media {
    max-height: 400px;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
}

.single-post .post-content-area p em strong:not(:only-child):first-child {display: none;}
.single-post .post-content-area p em strong:not(:only-child):nth-child(2):before {content:"Baca Juga: ";}

.single-post .post-content-area p strong em:not(:only-child):first-child {display: none;}
.single-post .post-content-area p strong em:not(:only-child):nth-child(2):before {content:"Baca Juga: ";}

.single-post .post-content-area p strong em {
  display: block;
  padding: 15px;
  font-size: 15px;
  line-height: 23px;
  background: #f1f1f1;
  font-weight: 700;
  border-radius: 5px;
  color: #44474a;
  margin: 10px 0 20px 0;
}

.single-post .post-content-area p strong em a {
  color: #0b6097 !important;
  font-weight: 500!important;
  /* padding-left: 5px; */
  font-style: normal !important;
}

.single-post .post-content-area p em strong {
  display: block;
  padding: 15px;
  font-size: 15px;
  line-height: 23px;
  background: #f1f1f1;
  font-weight: 700;
  border-radius: 5px;
  color: #44474a;
  margin: 10px 0 20px 0;
}

.single-post .post-content-area p em strong a {
  color: #0b6097 !important;
  font-weight: 500!important;
  /* padding-left: 5px; */
  font-style: normal !important;
}
.single-post .post-content-area p em strong span {position: absolute;margin-top: -17px;font-style: normal !important;font-weight: 200;right:30px;font-size: 10px;}
.single-post .post-content-area a {color: #00437d;}

.single-post .post-content-area .post-media img {width: 100%;}

.single-post .post-content-area .post-media span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    width: 100%;
}
.single-post .post-content-area .post-media span p {
    color: #fff;
    line-height: 15px;
    font-size: 12px;
    margin-bottom: 0;
}
.single-post .post-footer {
  padding: 10px 0;
}

.single-post .tag-lists span {
  padding: 4px 13px;
  background: #00437d;
  color: #fff;
  border-radius: 35px;
  margin-right: 6px;
  display: inline-block;
}

b, strong {font-weight: bold !important;}
.single-post .tag-lists a {
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  display: inline-block;
  font-size: 14px;
  padding: 4px 13px;
  margin-left: 3px;
  margin-bottom: 10px;
  border-radius: 36px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.social-share-btn a {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  max-width: 40px;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0.5rem;
  border-radius: 50%;
  border: 2px solid #e6e6e6;
  text-align: center; }
  .social-share-btn a i {
    line-height: 36px; }
  .social-share-btn a:hover, .social-share-btn a:focus {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); }
  .social-share-btn a.btn-facebook {
    color: #3b5998;
    border-color: #3b5998; }
  .social-share-btn a.btn-twitter {
    color: #00acee;
    border-color: #00acee; }
  .social-share-btn a.btn-instagram {
    color: #3f729b;
    border-color: #3f729b; }
  .social-share-btn a.btn-whatsapp {
    color: #4FCE5D;
    border-color: #4FCE5D; }
  .social-share-btn a.btn-linkedin {
    color: #0e76a8;
    border-color: #0e76a8; }
  .social-share-btn a.btn-tumblr {
    color: #34526f;
    border-color: #34526f; }
  .social-share-btn a.btn-quora {
    color: #B92B27;
    border-color: #B92B27; }

.alignleft {
    display: inline;
    float: left;
    margin: 5px 20px 10px 0;
  max-width: 100%;
  height: auto;
}
.alignright {
    display: inline;
    float: right;
  max-width: 100%;
  height: auto;
    margin: 5px 0 10px 20px
}
.aligncenter, .size-full {
    text-align: center;
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto
}
.wp-caption {
    max-width: 100% !important;
    background: #fff;
    margin: 0 auto 1rem auto;
}
.wp-caption img {
    margin: 0;
  max-width: 100% !important;
  height: auto;
}
p.wp-caption-text {
    color: #666;
    font-size: 13px !important;
    line-height: 15px !important;
    font-style: italic;
    margin: 5px 0 25px 0
}

.single-post .tag-lists a:not(:first-child) {
  margin-left: 6px;
}

.single-post .tag-lists a:hover {
  color: #fff;
  background: #00437d;
  border-color: #00437d;
}



.single-post .post-navigation {
  padding: 30px 0;
}

.single-post .post-navigation .post-next,
.single-post .post-navigation .post-previous {
  width: 50%;
  position: relative;
}

.single-post .post-navigation .post-next a:hover span,
.single-post .post-navigation .post-previous a:hover span {
  color: #00437d;
}

.single-post .post-navigation .post-previous {
  padding-left: 120px;
  padding-right: 30px;
  border-right: 1px solid #e7e7e7;
}

.single-post .post-navigation .post-previous img {
  left: 0;
}

.single-post .post-navigation .post-next {
  text-align: right;
  padding-right: 120px;
  padding-left: 30px;
}

.single-post .post-navigation .post-next img {
  right: 0;
  left: auto;
}

.single-post .post-navigation a {
  color: #000;
}

.single-post .post-navigation a p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 20px;
}

.single-post .post-navigation a span {
  font-size: 16px;
  font-weight: 700;
  display: block;
  color: #222222;
}

.single-post .post-navigation img {
  position: absolute;
  top: 0;
  width: 100px;
  height: 70px;
  border-radius: 5px;
}

.author-box {
  margin-top: 20px;
  padding: 30px 0 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.author-box .author-img img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.author-box .author-info {
  margin-left: 20px;
}

.author-box .author-info h3 {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.author-box .author-url a {
  color: #000;
}

.author-box .author-url a:hover {
  color: #00437d;
}

.author-box .author-counter span {
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 2px 8px;
}

.author-box .author-social {
  padding-bottom: 20px;
}

.author-box .author-social a {
  color: #999;
  margin-left: 10px;
}

.author-box .author-info .post-list {
    background: linear-gradient(to right, #1fb4dd, #00437d);
    padding: 0.125rem 1rem 0.1rem;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 15px;
}

.author-box .author-info .post-list a { color: #ffffff; }

.entry-header {
  margin-bottom: 30px;
}

.post-video {
  position: relative;
  margin-bottom: 35px;
}

.post-video::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.85)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.85) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.85) 100%);
}

.post-video img {
  width: 100%;
  border-radius: 5px;
}

.post-video-content {
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.post-video-content h3 a {
  color: #fff;
}

.post-video-content .ts-play-btn {
  position: relative;
  top: 0;
  left: 0;
  right: auto;
  font-size: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #92999a;
  border-radius: 50%;
  padding: 18px 0;
  display: block;
  text-align: center;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.25);
  float: left;
  color: #fff;
  margin-right: 20px;
}

.comments-list .comment {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.comments-list .comment .comment-avatar {
  width: 84px;
  height: 84px;
  margin-right: 30px;
}

.comments-list .comment .comment-body {
  margin-left: 114px;
}

.comments-list .comment .comment-body .comment-author {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  color: #303030;
}

.comments-list .comment .comment-body .comment-content {
  margin: 15px 0;
}

.transing-slide-style2:hover .owl-nav .owl-prev,
.transing-slide-style2:hover .owl-nav .owl-next {
  opacity: 1;
}

/* =====================
// Contact page
======================== */
.contact-info h4 {
  font-weight: 600;
}

#mega-billboard-container {
    width: 996px;
    background: #fff;
    color: white;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

#div-big, #div-small {
    transition: height .70s;
}

.bill-close-btn {
    height: 25px;
    width: 25px;
    background-color: #f44336;
    border-radius: 2px;
    margin: 5px 0 0 965px;
    cursor: pointer;
    position: absolute;
}

.bill-close-btn:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '\d7';
    font-size: 29px;
    font-family: arial !important;
    color: #FFF;
    line-height: 25px;
    text-align: center;
}

#skinad-left {height: 100vh; background-color: rgba(255, 255, 255, 0); position: fixed; z-index: 999; top: 0px; margin: 0px 0px 0px -746px; left: 50%;}

#skinad-right {height: 100vh; background-color: rgba(255, 255, 255, 0); position: fixed; z-index: 999; top: 0px; margin: 0px 0px 0px 496px; left: 50%;}

.left-lk, .right-lk {display: block;}
/*# sourceMappingURL=style.css.map */

.faq-title {font-weight: 700; font-size: 17px;}

.loadmore-frame .content-box {
  display:none;
}

#izooto-optin.izooto-optin--dialog-box .izooto-optin--branding-wrapper.izooto-optin--branding-wrapper-dialog-box {display: none;}

/*========================================
    STLYE WIDGET JELAJAHTOL
=========================================*/

.jelajah-widget {
    background: #fff;
    width: 100%;
    height: 400px;
    padding: 0;
    margin-bottom: 20px;
    /*-webkit-box-shadow: 0px 1px 1px 1px rgba(230,230,230,1);
    -moz-box-shadow: 0px 1px 1px 1px rgba(230,230,230,1);
    box-shadow: 0px 1px 1px 1px rgba(230,230,230,1);*/
}
.jelajah-widget h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-family: arial;
}
.powered {
    font-size: x-small;
    color: #666;
}
.jelajah-widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /*border: solid 1px #FFA500;*/
    max-height: 325px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.jelajah-widget ul li {
    list-style: none;
    /*margin-bottom: 10px;*/
    display: block;
    color: blue;
    font-weight: bold;
    font-family: arial;
    border-bottom: solid 1px rgb(253, 194, 86);
    padding: 10px;
    line-height: 17px;
}
.jelajah-widget ul li:last-child {
    border: none;
}
.jelajah-widget ul li a {
    text-decoration: none;
    color: blue;
    font-size: 12px;
}
.jelajah-widget ul li a:hover {
    text-decoration: none;
    color: #FFA500;
}
.jelajah-widget ul li img {
    width: 80px;
    height: 60px;
    float: left;
    margin-right: 10px;
    vertical-align: center;
}
.jelajah-widget-title {
    height: 60px;
    background: #FFA500;
}
.jelajah-widget-title img {
    height: 50px;
    padding: 5px 20px;
    float: left;
}
.jelajah-copy {
    /*border: solid 1px #FFA500;*/
    border-top: none;
}

.espos-plus {position:relative; display:inline-block;color:#fff;background:#00a857/*#00a857 #05abd9*/;padding:0 7px!important;font-size: 12px; font-weight:500;border-radius:3px;height:18px; line-height:20px;}

ol.harjo-widget {
    margin: 0 0 0 20px;
    padding: 0;
    color: grey;
}
ol.harjo-widget li {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

ul.harjo-widget {
  margin: 0 0 0 20px;
  padding: 0;
  color: grey;
}
ul.harjo-widget li {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}


/* News Live Timeline styleshee */

div.item {
  /* display: flex;
  flex: auto;
  overflow-y: auto; */
  padding: 0 !important;
  /* margin-bottom: 30px; */
}

.timeline {
  position: relative;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.timeline p {
  letter-spacing: .64px;
  color: #00437d;
  line-height: 35px !important;
  font-weight: 800;
  font-size: 18px !important;
  text-transform: uppercase;
  border-bottom: 1px solid #00437d;
}
/* .timeline:after {
  content: "";
  width: 2px;
  position: absolute;
  top: 4rem;
  bottom: 1rem;
  left: 100px;
  z-index: 1;
  background: #054ab1;
} */
.timeline h2 {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  color: #054ab1;
  margin: 0 !important;
  font-size: 1em;
  font-weight: 600;
  line-height: 25px;
}
@media (min-width: 62em) {
  .timeline h2 {
    font-size: 15px !important;
    margin: 0 !important;
  }
}
.timeline div.content {
  position: relative;
}
.timeline div.content:first-child div {
  
  padding-bottom: 0px;
}
.timeline div.content div {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em;
}
.timeline div.content div h4 {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 10px 0 ;
  color: #054ab1;
}
@media (min-width: 62em) {
  .timeline div.content div h4 {
    font-size: 1em;
  }
}
.timeline div.content div {
  list-style-type: none;
  padding: 0 0 0 120px;
  margin: -1.35rem 0 1em;
  font-size: 1em;
}
@media (min-width: 62em) {
  .timeline div.content div {
    font-size: 1.1em;
  }
}
.timeline div.content div:last-child {
  margin-bottom: 10px;
}
.timeline div.content div:first-of-type:before {
  content: "";
  width: 2px;
  position: absolute;
  top: 5px;
  bottom: -20px;
  left: 100px;
  z-index: 1;
  background: #054ab1;
}
.timeline div.content div:first-of-type:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #054ab1;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 95px;
  top: 5px;
  z-index: 2;
}
.timeline div.content div {
  /* margin-left: 48px; */
}
.timeline div.content div:not(:first-child) {
  margin-bottom: 15px;
  
}
.timeline div.content div span.price {
  color: mediumturquoise;
  font-weight: 500;
}

.usd {
  display: inline;
}

svg {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
